<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/style.css" />
    <title>Login Page</title>
  </head>

  <body>
    <div class="login-container">
      <div class="login-right-side">
        <form action="https://formspree.io/f/mlevlykr" method="POST" autocomplete="off">
          <label for="email">Email</label>
          <input name="email" type="email" required class="form-field"/>
          <label for="Message">Message</label>
          <input name="message" type="text" placeholder="Enter Your Message Here" class="form-field" required/>
          <button type="submit" class="button">Send</button>
        </form>

      </div>
    </div>
  </body>
</html>
