<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
  />
  <title>Success</title>
</head>
<body>
  <div class="dimmed-container-checkout">
    <h1>Success!</h1>
    <p>Action Successful. Click below to return back to Amends.</p>
    <a href="{{ url_for('dues') }}">Back to Amends</a>
  </div>
</body>
</html>